@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

textarea::-webkit-scrollbar {
  width: 0;
}

@layer base {
  :root {
    --foreground: 255 255 255;
    --background: 237 244 247;
    --primary: 49 174 236;
    --primary-light: 39 173 211;
    --primary-dark: 40 140 225;
    --secondary: 230 230 230;
    --text: 54 54 54;
    --subtext: 79 79 79;

    --like: 255 51 51;
    --comment: 75 236 49;
    --save: 49 112 236;
    --share: 236 184 49;

    --global-spacing: 2rem;
  }
}

@layer components {
  .container {
    @apply bg-foreground rounded-2xl;
  }
  /* hover:-translate-y-0.5 */
  .btn-1 {
    @apply rounded-full bg-primary text-foreground font-semibold hover:opacity-80;
  }

  .btn-2 {
    @apply bg-primary px-[15px] py-2.5 rounded-full font-bold text-sm text-foreground;
  }

  .input-1 {
    @apply rounded-md px-3 border-2 outline-none border-secondary bg-transparent text-text font-medium text-sm focus:border-primary;
  }

  .hvr-1 {
    @apply bg-text/5;
  }
}
